/* Section 2  */

.section2{
    /* height: 100vh;
    background-color: var(--color-secondary); */
}

.section2Content{
    color: var(--color-light);
    position: absolute;
    text-align: center;
    width: 100%;
}
