/* Section 2  */

.section2{
    height: 120vh;
     /*background-color: var(--color-secondary); */
    overflow: hidden;
}

.section2Content{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--color-background);
    height: 100%;
    margin-top: 3vw;
}
.topSection2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 40%;
    margin-left: 5vw;
}
.topSection2 h3{
    color: var(--color-primary);
    font-size: 75px;

}

.profilePicture{
    position: relative;
    /* right: -2vw;
    top: -5vw; */
    border-radius: 50%;
    height: 15vw;
    margin: auto;
    border-style: solid;
    border-width: 3px;
    border-color: var(--color-primary);
}
.bio{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1vw;
    margin: 3vw 0 0 0;
    font-size: var(--text-size-main);
}
.contactContainer{
    display: flex;
    align-items: center;
    gap: 5vw;
    margin: 5vw 0 0 8vw;
}

/* ----- ContactCard ----- */

.contactCard{
    display: flex;
    flex-direction: column;
    /* height: 20vw; */
    background-color: var(--color-background);
    border-style: solid;
    border-width: 3px;
    border-radius: 23px;
    border-color: var(--color-primary);
    padding: 2vw;
    gap: 2vw;
    white-space: nowrap; 
}
.contactCard span{
    color: var(--color-primary);
    text-align: center;
    width: 100%;
    padding: 1vw;
    font-size: var(--text-size-title);
    font-weight: 500;

}
.contactCard p, .contactCard a{
    color: var(--color-text-transp);
    width: 100%;
    cursor: pointer;
}

.contactLine{
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.contactCard p:hover, .contactCard a:hover{
    color: var(--color-text)
}
.copyMessage{
    font-size: var(--text-size-small);
    background-color: rgba(255, 255, 255, 0);
    color: var(--color-primary);
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none;
    z-index: 100;
}

/* ----- SkillsCards ----- */

.cardsContainer{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 1vw;
    /* width: 100%; */
    /* height: 10vw; */
}
.cardsContainer h3{
    color: var(--color-primary);
    font-size: 75px;
    margin: 0;
}
.cardsContainer h4{
    color: var(--color-background);
    font-size: 35px;
    margin: 0;
}

/* Logos techno : */

.logoSymfo{
    width: 3.5vw;
    min-width: 35px;
}
.logoReact{
    width: 3.7vw;
    min-width: 35px;
    margin-bottom: 7px;
}
.LogoCSharp{
    width: 3.3vw;
    min-width: 35px;
    margin-top: 3px;
}
.LogoP5js{
    width: 3.5vw;
    min-width: 35px;
}
.LogoMySql{
    width: 2.7vw;
    min-width: 35px;
    margin-top: 5px;
}
.LogoPsd{
    width: 3vw;
    min-width: 35px;
    margin-top: 2px;
}
.LogoFigma{
    width: 1.7vw;
    min-width: 35px;
}
.LogoGithub{
    width: 3.7vw;
    min-width: 35px;
}
.LogoDocker{
    width: 5vw;
    min-width: 35px;
}
.LogoNode{
    width: 3.5vw;
    min-width: 35px;
}


.logoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 7vw;
    height: 7vw;
    gap: 15px;
}

.card1, .card2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    gap: 10px;
    border-style: solid;
    border-width: 3px;
    border-radius: 23px;
    border-color: var(--color-primary);
    background-color: var(--color-secondary);
    opacity: 0.9;
}
.card1{
    max-width: 57%;
    min-width: 180px;
    min-height: 180px;
    height: 100%;
}
.card2{
    width: 57%;
    height: 100%;
    min-width: 170px;
    min-height: 170px;
}

/* 
========================
Media queries
========================
*/

/* ----------------------------- < 800px ------------------------------ */

@media screen and (max-width: 800px)
{
    .topSection2 h3{
        font-size: 50px;
    }
    .bio{
        width: 100%;
        gap: 1vw;
        margin: 5vw 0 0 0;
        font-size: var(--text-size-mobile);
    }
    .cardsContainer h3{
        font-size: 50px;
        margin: 0;
    }
    .cardsContainer h4{
        font-size: var( --text-size-main);
        margin: 10px;
    }

    .card1, .card2{
        padding: 35px;
        gap: 40px;
    }
    .card1{
        max-width: 62%;
        min-width: 180px;
        min-height: 180px;
        /* max-height: 200px; */
        height: 100%;
    }
    .section2Content{

    }
}
/* ----------------------------- < 500px ------------------------------ */

@media screen and (max-width: 500px)
{
    .section2Content{
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        color: var(--color-background);
        height: 100%;
        margin-top: 3vw;
    }

    
    .card1, .card2{
        padding: 0px;
    }
}