.header{
    font-size: var(--text-size-small);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 1vw;
    right: 2vw;
    color: var(--color-light);
    z-index: 10;
}
.link {
    margin: 0 5px 0 5px;
    cursor: pointer;
    transition: color 0.1s ease;
}

.link.modeA {
    color: var(--color-primary);
}
.link.modeA:hover {
    color: var(--color-text);
}
.link.modeB {
    color: var(--color-text);
}
.link.modeB:hover {
    color: var(--color-primary);
}
.link.modeC {
    color: var(--color-primary);
}
.link.modeC:hover {
    color: var(--color-text);
}

/* 
========================
Media queries
========================
*/

/* -----------------------------  < 768px ------------------------------ */

@media screen and (max-width: 768px)
{
  .header{
    font-size: var(--text-size-mobile);
  }
}