.header {
    font-size: var(--text-size-small);
    position: fixed;
    top: 1vw;
    right: calc(2rem + var(--gutter-offset));
    z-index: 1000;
}

nav {
    color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    margin: 0 5px 0 5px;
    cursor: pointer;
    transition: color 0.1s ease;
}

.header.inverted .separator {
    color: var(--color-primary);
}

/* Default button colors (modeA) */
.link.header-color {
    color: var(--color-primary);
}

.link.header-color:hover {
    color: var(--color-text);
}

/* Inverted colors when inside section2 */
.header.inverted .link.header-color {
    color: var(--color-text);
}

.header.inverted .link.header-color:hover {
    color: var(--color-primary);
}

/* 
========================
Media queries
========================
*/

/* -----------------------------  < 768px ------------------------------ */

@media screen and (max-width: 768px) {
    .header {
        font-size: var(--text-size-mobile);
    }
}