.App {
  
}
body {
  
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 271vh;
  overflow: hidden; 
  /* display: flex;
  flex-direction: column;
  gap: 50px; */
}
.header{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1vw;
  right: 2vw;
  color: var(--color-light);
  z-index: 10;
}
.link {
  margin: 0 5px 0 5px;
  cursor: pointer;
  transition: color 0.1s ease;
}

.link.modeA {
  color: var(--color-primary);
}
.link.modeA:hover {
  color: var(--color-text);
}
.link.modeB {
  color: var(--color-text);
}
.link.modeB:hover {
  color: var(--color-primary);
}
.link.modeC {

  color: var(--color-secondary);
}
.link.modeC:hover {
  color: var(--color-text);
}

.section1, .section2, .section3 {
  position: relative;
  flex-shrink: 0; /* Prevent shrinking sections with flexbox */
}
.section1 {
  z-index: 1; 
  height: 100vh;

}

.section2 {
  height: 106vh;
  z-index: 5;
  will-change: transform;
  transition: transform 0.1s ease-out;
}
.section3 {
  z-index: 2;
  height: 106vh;
}
.loadingScreen{

}


/* 
========================
Media queries
========================
*/

/* -----------------------------  < 768px ------------------------------ */

@media screen and (max-width: 768px)
{
  /* .container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 297vh;
    overflow: hidden; 

  }
  .section3 {
    z-index: 2;
    height: 111vh;
  } */

}
/* -----------------------------  h < 667px ------------------------------ */

@media screen and (max-height: 667px)
{
  .section2 {
    height: 136vh;

  }

}

