.App {
  
}
.container {
  position: relative;
  /* display: flex;
  flex-direction: column;
  gap: 50px; */
}
.header{
  position: fixed;
  top: 1vw;
  right: 2vw;
  color: var(--color-light);
  z-index: 10;
}
.section1 {
  position: relative;
  z-index: 1; 
  height:100vh;
}

.section2 {
  position: relative;
  /* top: 100vh; */
  left: 0;
  right: 0;
  z-index: 2;
  height: 100vh;
  transition: transform 0.1s ease-out;
}

/* .scrolled .section2 {
  transform: translateY(-100px); 
} */