.App {
  
}
.container {
  position: relative;
  /* display: flex;
  flex-direction: column;
  gap: 50px; */
}
.header{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1vw;
  right: 2vw;
  color: var(--color-light);
  z-index: 10;
}
.header a{
  margin: 0 5px 0 5px;
}

.section1 {
  position: relative;
  z-index: 1; 
  height:100vh;
}

.section2 {
  position: relative;
  z-index: 2;
  height: 100vh;
  will-change: transform;
  transition: transform 0.1s ease-out;
}
