
/* Section 3  */

.section3{
  overflow: hidden;
  /* transform: translateY(-315px); */
}

.section3Content{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-text-transp);
  padding-top: 3vw;
  width: 100%;
}
.section3Content h3{
  color: var(--color-primary);
  font-size: 75px;
}
