
/* Section 3  */

.section3{
  overflow: hidden;
  /* height: 100vw; */
  /* transform: translateY(-315px); */
}

.section3Content{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-text-transp);
  padding-top: 3vw;
  width: 100%;
}

.section3Content h3{
  color: var(--color-primary);
  font-size: 75px;
}
.spaceBackground{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160%;
  height: 160%;
  transform: translate(-50%, -50%);

}
.sketchContainer{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
.sketchContainer.visible{
  opacity: 1;
  pointer-events: auto; 
}

/* Projects view */

.projectInfos{
  z-index: 100;
  background-color:  var(--color-primary);
  /* background-color: hsl(163, 93%, 50%); */
  width: 100%;
  height: 100%;
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.projectContent{
  padding: 10px;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  color: var(--color-background);
}
.projectDescription{
  max-width: 35%;
  min-width: 30%;
  height: 100%;

  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.projectDescription p{
  font-size: var(--text-size-small);
}

.projectInfosContainer{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
  z-index: 100;
}
.projectInfosContainer.hidden {
  opacity: 0;
  pointer-events: none; 
}

.projectTitle{
  display: inline-block;
  margin-top: 2vw;
}
.linksWrapper,.elementWrapper{
  margin-top: 5px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin-left: 20px;
  gap: 10px;
}
.linksContainer{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 17px;
}
.link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-purple);
  text-align: center;
  gap: 10px;
}
.link:hover{
  color: var(--color-text);
}


.bottomBack{
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 2vw;
  gap: 10px;
}
.bottomBack span{
  display: inline-block;
  color: white;
  cursor: pointer;
}
.backButton{
  position: relative;
  right: auto;
  cursor: pointer;
}
.backButton.hover, .backButton:hover{
  scale: 1.1; 
  transition: scale 0.2s; 
}


/* particle background */

.bg {
  background-size: cover;
  background: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}
.bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
}
@keyframes sf-fly-by-1 {
  from {
    transform: translateZ(-800px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(0);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
    transform: translateZ(-1600px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-800px);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
    transform: translateZ(-2400px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-1600px);
    opacity: 0.5;
  }
}
.starField {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 800px;
  -webkit-perspective: 800px;
  z-index: -1;
}
.starField .layer {
  box-shadow: -800px -900px #cccccc, 1400px -700px #d4d4d4, -1000px -1100px #fcfcfc, -200px -400px #d4d4d4, 900px -800px #f7f7f7, 1600px -200px #f7f7f7, 1400px -500px #ededed, 1000px 800px #cccccc, 1200px 1000px whitesmoke,
    300px 900px #c7c7c7, 1000px -800px #f0f0f0, 1400px -1100px #e3e3e3, 300px 1000px #ededed, 300px 600px #ededed, 100px -900px #ebebeb, 1300px -700px #c2c2c2, -1000px 1000px #e8e8e8, -300px -700px #d4d4d4, 1600px -200px #cfcfcf,
    900px 1000px #c2c2c2, 900px 1100px #d4d4d4, 900px 1100px #e6e6e6, -20px 600px #fcfcfc, -700px 800px #e3e3e3, 1200px -800px #fcfcfc, 1600px 1000px #dbdbdb, 800px 300px #c2c2c2, 1300px 300px #f7f7f7, -600px -900px #e6e6e6,
    1700px -150px #e3e3e3, -1600px -100px #dbdbdb, 1000px 200px #dedede, 1400px 700px #e0e0e0, -300px -700px #dbdbdb, 1300px -800px #e3e3e3, -700px -500px #c2c2c2, 1400px -900px #c7c7c7, 1300px -300px #c2c2c2, -1300px -700px #e6e6e6,
    1000px -300px #ededed, -200px -800px #d9d9d9, 1300px 100px #e8e8e8, 700px -600px #cfcfcf, -700px -1100px #dedede, 900px -500px #fcfcfc, 200px -1000px #c7c7c7, -1000px 800px #dbdbdb, 1300px -200px #cfcfcf, -200px 600px #c9c9c9,
    -1600px 200px #d6d6d6, 1600px 900px #d6d6d6, -1300px 100px #fafafa, -300px 400px #f0f0f0, 1400px 900px #fafafa, -700px -900px #ededed, 1500px 300px #d1d1d1, 1000px 200px whitesmoke, -1600px -100px #c4c4c4, -1100px 400px #f7f7f7,
    900px 1100px #fcfcfc, 1200px -900px #e6e6e6, 1500px 900px #dedede, 1300px -800px #ededed, 200px -1100px #cccccc, -30px 1100px #cfcfcf, -1200px -400px whitesmoke, -1300px 600px #d1d1d1, 1500px 1100px #d1d1d1, 1400px 600px #c9c9c9,
    -700px 200px #c2c2c2, 1000px 200px #dedede, 600px 1000px #e0e0e0, 1600px -1000px #e3e3e3, -300px 800px #d4d4d4, -1000px 500px #c2c2c2, -1600px 200px #cccccc, -30px 700px #dedede, -1500px 400px white, 300px -1100px #cfcfcf,
    1600px -900px #e0e0e0, 1500px 1000px #e0e0e0, -1400px -700px #cfcfcf, 300px -700px #f2f2f2, -1400px 200px #e6e6e6, 1600px 100px #d4d4d4, 1400px 100px #d4d4d4;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6px;
  width: 6px;
  border-radius: 3px;
}
.starField .layer:nth-child(1) {
  animation: sf-fly-by-1 5s linear infinite;
}
.starField .layer:nth-child(2) {
  animation: sf-fly-by-2 5s linear infinite;
}
.starField .layer:nth-child(3) {
  animation: sf-fly-by-3 5s linear infinite;
}
